<!DOCTYPE html>
<html>
  <head>
    <title>Halloween Story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <p>
      I can't believe its already @Model.holiday! I cant wait to put on my @Model.noun1
      and visit every @Model.place1 in my neighborhood. this year, I am going ot dress
      up as @Model.person1 with @Model.adj1 @Model.bodypart.
      Before I @Model.verb1, I make sure to grab my @Model.adj2 @Model.noun2 to hold all of my @Model.food. 
      Finally, all of my @Model.plNoun are ready to go!
      When @Model.famPers answers the door I say "@Model.noun3 or treat!" Yum!
      I got a @Model.food2 and a @Model.food3. We visit @Model.number houses and decide its 
      time to @Model.verb2 home. My @Model.familyMem says if I eat too much @Model.food4, my @Model.bodypart2 will hurt. 
    </p>
  </body>
</html>


