<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Halloween Story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <p>
        Beautiful Ham

        Ham is my friend,
        it is there till the end.
        Don't @Model.Verb1 my ham,
        or I'll @Model.Verb2 you in a clam.
        In a @Model.Noun1 or soup,
        it never tastes like poop.
        On a @Model.Noun2 or alone,
        ham is @Model.Adj1 than a scone.
        Never @Model.Verb3 about my ham,
        or
        in a @Model.Noun3 you will be slammed.
        Do not even @Model.Verb4 upon it,
        or I will @Model.Verb5 you in an armpit.
        So my friends, you see,
        Ham is all we ever need.
        To @Model.Verb6 @Model.Verb7 and love,
        Ham was sent from up above
      </p>
    </div>
  </body>
</html>
@* 1. Verb
2. Verb2
3. Noun
4. Noun2
5. Adj
6. Verb3
7. Noun3
8. Verb4
9. Verb5
10. Verb6
11. Verb7 *@
