<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Pretty little Liers Story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Pretty little Liers Story</h1>
      <p>
      Hanna was in her @Model.Adj1 bedroom looking for a outfit for her @Model.Adj2 date Caleb. She heard
      a @Model.Adj3 knock at the door it was her @Model.Adj4 friend Aria. Aria, Can you help me pick out a
      @Model.Adj5 @Model.Noun1 for my dinner date with Caleb? Of course I can, replied Aria. Just then Hanna
      got a @Model.Noun2 . It was a text from A. Hanna read it outloud to Aria. " Pick the @Model.PrNoun dress
      Hanna, Black is slimming, You dont want to look like a @Model.Adj6 pink, OINK! OINK!
      </p>
    </div>
  </body>
</html>


@* 1. Adj1
2. Adj2
3. Adj3
4. Adj4
5. Adj5
6. Noun1
7. Noun2
8. PrNoun
9. Adj6 *@